SERIES

In [13]:
import pandas as pd 

x=[3,4,5,6]
var=pd.Series(x,index=['a','b','c','d'])
print(var)
print(type(var))  

print(var[2])

a    3
b    4
c    5
d    6
dtype: int64
<class 'pandas.core.series.Series'>
5

/var/folders/lh/dzt8v5p97d16vhdw9qhp8cfr0000gn/T/ipykernel_1159/164839494.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(var[2])

In [14]:
import pandas as pd 

x=[3,4,5,6]
var=pd.Series(x,index=['a','b','c','d'])
print(var)
print(type(var))  

print(var[2])

a    3
b    4
c    5
d    6
dtype: int64
<class 'pandas.core.series.Series'>
5

/var/folders/lh/dzt8v5p97d16vhdw9qhp8cfr0000gn/T/ipykernel_1159/164839494.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(var[2])

In [21]:
import pandas as pd

x = [3, 4, 5, 6]
var = pd.Series(x, index=['a', 'b', 'c', 'd'],dtype="float",name="python ")
print(var)
print(type(var))

print(var['a'])  # Corrected line

a    3.0
b    4.0
c    5.0
d    6.0
Name: python , dtype: float64
<class 'pandas.core.series.Series'>
3.0

In [23]:
dic ={"name":["python","c","c++","java"],"por":[12,13,14,15],"rank":[1,4,3,2]}
var1=pd.Series(dic)
print(var1)

name    [python, c, c++, java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object

In [37]:
s=pd.Series(12,index=[1,2,3,4,5,6,7])
print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [40]:
s1=pd.Series(12,index=[1,2,3,4,5,6,7])
s2=pd.Series(12,index=[1,2,3,4])
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

# DataFrame

In [50]:
import pandas as pd 
l=[1,2,3,4,5,6,7]
var =pd.DataFrame(l)
print(type(var))

<class 'pandas.core.frame.DataFrame'>

In [60]:
d = {"a":[1,2,3,4,5,6,7],"s":[1,2,3,4,5,6,None]}
var1 =pd.DataFrame(d)
print(var1)

   a    s
0  1  1.0
1  2  2.0
2  3  3.0
3  4  4.0
4  5  5.0
5  6  6.0
6  7  NaN

In [73]:
import pandas as pd

d = {"a": [1, 2, 3, 4, 5, 6, 7], "s": [1, 2, 3, 4, 5, 6, 7], "d": [1, 2, 3, 4, 5], 1: [1, 2, 3, 4, 5]}  
var1 = pd.DataFrame(d, columns=["a", "s", "d", 1], index=["a", "s", "d", "f", "g"])
print(var1)

ValueError: Length of values (7) does not match length of index (5)

# insert

In [83]:
import pandas as pd 

var =pd. DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5]})
var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [84]:
var.insert(1,"python",var["A"])
var

   A  python  B
0  1       1  9
1  2       2  8
2  3       3  7
3  4       4  6
4  5       5  5

In [85]:
var.insert(1,"python_1",[11,12,13,14,15])
var

   A  python_1  python  B
0  1        11       1  9
1  2        12       2  8
2  3        13       3  7
3  4        14       4  6
4  5        15       5  5

In [86]:
import pandas as pd 

var =pd. DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5]})
var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [88]:
var["python_12"]=var["A"][:3]
var

   A  B  python_12
0  1  9        1.0
1  2  8        2.0
2  3  7        3.0
3  4  6        NaN
4  5  5        NaN

# delete

In [96]:
import pandas as pd 

var =pd. DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5],"c":[13,4,5,67,98]})
var

   A  B   c
0  1  9  13
1  2  8   4
2  3  7   5
3  4  6  67
4  5  5  98

In [97]:
var1=var.pop("B")

In [98]:
var1

0    9
1    8
2    7
3    6
4    5
Name: B, dtype: int64

In [99]:
var

   A   c
0  1  13
1  2   4
2  3   5
3  4  67
4  5  98

In [100]:
del var["A"]

In [101]:
var

    c
0  13
1   4
2   5
3  67
4  98

In [103]:
var1

0    9
1    8
2    7
3    6
4    5
Name: B, dtype: int64

In [104]:
var

    c
0  13
1   4
2   5
3  67
4  98

# class 5

# Arthmatic operator

In [105]:
import pandas as pd

In [109]:
import pandas as pd
var=pd.DataFrame({"A":[1,2,3,4],"B":[6,7,8,9]})
var

   A  B
0  1  6
1  2  7
2  3  8
3  4  9

In [113]:
var["c"]=var["A"]+var["B"]
var

   A  B   c
0  1  6   7
1  2  7   9
2  3  8  11
3  4  9  13

In [114]:
var["c"]=var["A"]/var["B"]
var

   A  B         c
0  1  6  0.166667
1  2  7  0.285714
2  3  8  0.375000
3  4  9  0.444444

In [115]:
var1=pd.DataFrame({"A":[1,2,3,3,4],"B":[6,7,8,9,5]})
var1

   A  B
0  1  6
1  2  7
2  3  8
3  3  9
4  4  5

In [124]:
var1["A"]=var1["B"]>20

var1["A_1"]=var1["B"]>16

In [125]:
var1

       A  B    A_1
0  False  6  False
1  False  7  False
2  False  8  False
3  False  9  False
4  False  5  False

# Write CSV

In [141]:
import pandas as pd

dis =pd.DataFrame({"A": [1, 2, 3, 4, 5, 6, 7], "S": [11, 23, 44, 6, 7, 89, 34]}) 

print(dis)
d.to_csv("test_new.CSV")

   A   S
0  1  11
1  2  23
2  3  44
3  4   6
4  5   7
5  6  89
6  7  34

# read CSv

In [150]:
import pandas as pd

csv_1= pd.read_csv("\\Users\\mohammadshahanshaah\\Desktop\\sales_data_sample.csv")
csv_1

FileNotFoundError: [Errno 2] No such file or directory: '\\Users\\mohammadshahanshaah\\Desktop\\sales_data_sample.csv'